.legend {
  position: absolute;
  top: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 8px 3px 8px;
  border-radius: 1px;
  z-index: 3;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.legend-color {
  margin-right: 10px;
  cursor: pointer;
}

.dm-legendname:hover {
  color: #1f96c4;
}

.sub-legend {
  position: absolute;
  top: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 8px 3px 8px;
  border-radius: 1px;
  z-index: 3;
}
.sub-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.sub-legend-color {
  margin-right: 10px;
}

.slope_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.slope_button:hover {
  background: rgba(255, 255, 255, 0.6);
}
.slope_tool {
  width: 35px;
  height: 35px;
}

.slope-text {
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  color: #3b3b3b;
  width: max-content;
  top: 5px;
  left: 45px;
  padding: 5px;
  border: solid 2px #cccccc;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}
.slope_button:hover .slope-text {
  visibility: visible;
}

.tool_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;
}
.tool_button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.dist-text {
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  color: #3b3b3b;
  width: max-content;
  top: 5px;
  left: 45px;
  padding: 5px;
  border: solid 2px #cccccc;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}
.tool_button:hover .dist-text {
  visibility: visible;
}

.tool_undo_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  bottom: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.tool_undo_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.distSum {
  position: fixed;
  z-index: 1;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 10px;
}
.distSum span {
  font-size: x-large;
  font-weight: bolder;
  color: black;
}
